= render "./layouts/header"
%main.main
  .post-area
    %section
      .head02
        %h2
          Cafe completed
      .create
        %p
          ありがとうございます。
        %p
          投稿が完了しました。
= render "./layouts/footer"