= render "./layouts/header"
%main.main
  .post-area
    %section
      .head02
        %h2
          ユーザー情報の更新完了
      .update
        %p
          ありがとうございます。
        %p
          更新が完了しました。
        %p
          = link_to "トップへ戻る", root_path
= render "./layouts/footer"