$main_color_font:rgba(0,0,0,0.87);
$title_font: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$text-font:'Times New Roman', 'Noto Serif JP', serif;
$layout-width-inner: 1260px;
$main-background: #EDEDEA;

// @mixin
@mixin flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

// ブレークポイント
$breakpoints: (
  "sp": "screen and (max-width: 767px)",
  "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
  "pc": "screen and (min-width: #{$layout-width-inner})",
);

// メディアクエリー
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

//@include mq('tab') {}
//@include mq('sp') {}

/* add
----------------------------- */
* {
  box-sizing: border-box;
}
img {
  width: 100%;
  vertical-align: bottom;
}
body {
  background-color: $main-background;
  font-family: $text-font;
  font-size: 16px;
  color: $main_color_font;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
a:hover {
  opacity: .8;
  transition-duration: .5s;
}

/* render
----------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 20px;
  background-color: $main-background;
  border-bottom: 1px solid #ddd;
  .header-area {
    @include flex();
    align-items: center;
    justify-content: space-between;
    max-width: $layout-width-inner;
    margin: 0 auto;
    .logo {
      h1 {
        width: 50px;
      }
    }
    .global-nav {
      ul {
        @include flex();
        justify-content: space-between;
        li {
          a {
            display: block;
            position: relative;
            padding: 20px 20px 10px 20px;
            color: $main_color_font;
            transition: all .5s;
            &:before {
              transition: all .5s;
            }
            &:after {
              position: absolute;
              content: '.';
              bottom: 0;
              left: 0;
              right: 0;
              width: 0%;
              height: 1px;
              margin: auto;
              color: transparent;
              background: $main_color_font;
              transition: all .5s;
            }
            &:hover {
              &:after {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

.footer {
  width: 100%;
  padding: 40px 0;
  .footer-area {
    max-width: 1260px;
    margin: 0 auto;
    .copyright {
      font-size: 13px;
      text-align: center;
    }
  }
}

/* top
----------------------------- */

.main {
  width: 100%;
  margin-top: 90px;
  .main-visual {
    width: 100%;
    height: 100vh;
    background-image: image-url("topImg_tb.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .main-area {
    // max-width: 1260px;
    max-width: 940px;
    margin: 0 auto;
    padding: 100px 0 70px;
  }
  section {
    .head02 {
      position: relative;
      font-family: $title_font;
      font-size: 26px;
      text-align: center;
      &:after {
        position: absolute;
        content: "";
        bottom: -15px;
        left: 40.5%;
        width: 180px;
        height: 1px;
        background: #333;
      }
    }
    .cafe-column {
      margin-top: 25px;
      @include flex();
      flex-wrap: wrap;
      .cafe-col {
        width: calc((100% - 90px) / 3);
        margin-top: 45px;
        margin-left: 45px;
        color: $main_color_font;
        &:nth-child(3n+1) {
          margin-left: 0;
        }
        figure {
          width: 285px;
          height: 176px;
          img {
            height: 100%;
            object-fit: cover;
          }
        }
        .cafe-detail {
          padding: 20px 10px;
          .cafe-name {
            @include flex();
            .cafe-evaluation {
              @include flex();
              margin-left: 15px;
              img {
                width: 14px;
              }
            }
          }
          .cafe-station {
            margin-top: 15px;
            font-size: 13px;
            .cafe-move {
              margin-left: 13px;
            }
          }
          // .description {
          //   margin-top: 20px;
          // }
        }
      }
    }
    .more {
      @include flex();
      justify-content: center;
      width: 90px;
      margin: 50px auto 0;
      &:hover {
        .dot {
          width: 42px;
          height: 42px;
          border: 1px solid #575a5f;
          color: #575a5f;
          background: #fff;
          -webkit-transform: translate3d(-4px, -4px, 0);
          transform: translate3d(-4px, -4px, 0);
          transition-duration: .5s;
        }
      }
      .point {
        @include flex();
        justify-content: center;
        position: relative;
      }
      .dot {
        @include flex();
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 29%;
        bottom: 0;
        width: 34px;
        height: 34px;
        margin: 0 auto;
        border-radius: 50%;
        color: #fff;
        background: #575a5f;
        transition: all 0.3s ease;
        will-change: transform;
      }
      .text {
        margin-top: 50px;
        color: $main_color_font;
        font-weight: bold;
      }
    }
  }
}

/* new
----------------------------- */

.post-area {
  max-width: 650px;
  margin: 0 auto;
  padding: 100px 0 70px;
  section {
    padding: 30px 100px;
    background: #fff;
    .head02 {
      &:after {
        left: 30%;
      }
    }
    .form {
      margin-top: 80px;
      .field {
        width: 100%;
        margin-top: 30px;
        .name,.prefecture,.station,.transportation {
          input {
            width: 100%;
            padding: 15px;
            border: 2px solid #eee;
            border-radius: 4px;
          }
        }
        .title {
          margin-bottom: 15px;
          .required {
            margin-left: 10px;
            padding: 5px 8px;
            font-size: 11px;
            color: #fff;
            background: #ff6a14;
            border-radius: 4px;
          }
        }
        .error {
          margin-top: 10px;
          font-size: 14px;
          color: red;
        }
        .name {
          @include flex();
          input {
            &:nth-child(2) {
              margin-left: 20px;
            }
          }
        }
        textarea {
          width: 100%;
          height: 120px;
          padding: 15px;
          border: 2px solid #eee;
          line-height: 1.8;
        }
        select {
          width: 100%;
          padding: 15px;
          border: 2px solid #eee;
          background: #fff;
        }
        #star {
          img {
            width: 26px;
          }
        }
        .transportation {
          @include flex();
          align-items: center;
          select {
            width:  36%;
          }
          input {
            width: 36%;
            margin-left: 10px;
          }
          span {
            width: 14%;
            margin-left: 5px;
            font-size: 14px;
          }
        }
      }
      .actions {
        width: 100%;
        margin-top: 50px;
        input {
          width: 100%;
          padding: 15px;
          color: #fff;
          border: 2px solid #575a5f;
          border-radius: 4px;
          background: #575a5f;
          cursor: pointer;
          &:hover {
            opacity: .8;
            transition-duration: .5s;
          }
        }
      }
    }
  }
}

/* show
----------------------------- */

.list-area {
  max-width: 840px;
  margin: 0 auto;
  padding: 40px 0 70px;
  section {
    .head02 {
      &:after {
        left: 39%;
      }
    }
  }
}
.cafe-list {
  @include flex();
  margin-top: 70px;
  figure {
    width: 400px;
    height: 247px;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  .cafe-individual {
    width: 440px;
    padding: 0 30px 20px;
    .cafe-name {
      @include flex();
      .cafe-evaluation {
        @include flex();
        margin-left: 15px;
        img {
          width: 14px;
        }
      }
    }
    .cafe-station {
      margin-top: 15px;
    }
    .cafe-move {
      margin-left: 13px;
    }
    .description {
      margin-top: 25px;
      line-height: 1.8;
    }
  }
}

/* list
----------------------------- */

.pagination {
  @include flex();
  justify-content: center;
  margin-top: 50px;
  span {
    margin-left: 3px;
    background: #ededed;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    &:first-child {
      margin-left: 0;
    }
    a {
      display: block;
      padding: 10px 14px 10px 14px;
      color: $main_color_font;
      &:hover {
        background: #dcdcdc;
        transition-duration: .6s;
      }
    }
  }
  .current {
    padding: 10px 14px 10px 14px;
    color: #fff;
    background: #575a5f;
  }
}

/* edit
----------------------------- */

.btn {
  @include flex();
  margin-top: 30px;
  a {
    display: block;
    padding: 8px 12px;
    border: 2px solid #ddd;
    border-radius: 4px;
    background: #fff;
    font-size: 13px;
    color: $main_color_font;
  }
  .destroy-btn {
    margin-left: 10px;
  }
}

/* create,update
----------------------------- */

.create, .update, .destroy {
  padding: 30px;
  text-align: center;
  p {
    margin-top: 25px;
    a {
      display: block;
      width: 180px;
      margin: 0 auto;
      padding: 12px 15px;
      border: 2px solid #ddd;
      border-radius: 4px;
      background: #fff;
      font-size: 13px;
      color: $main_color_font;
    }
  }
}

/* multiple-images
----------------------------- */

// .post__drop__box__container{
//   display: block;
//   margin: 16px auto 0;
//   display: flex;
//   flex-wrap: wrap;
//   .prev-content {
//     display: flex;
//     .preview-box {
//       height: 162px;
//       width: 150px;
//       .upper-box {
//         height: 112px;
//         width: 100%;
//       }
//       .lower-box {
//         display: flex;
//         text-align: center;
//         .update-box {
//           color: #00b0ff;
//           width: 50%;
//           height: 50px;
//           line-height: 50px;
//           border: 1px solid #eee;
//           background: #f5f5f5;
//           cursor: pointer;
//         }
//         .delete-box {
//           color: #00b0ff;
//           width: 50%;
//           height: 50px;
//           line-height: 50px;
//           border: 1px solid #eee;
//           background: #f5f5f5;
//           cursor: pointer;
//         }
//       }
//     }
//   }
//   .label-content{
//     margin-bottom: 10px;
//     width: 450px;
//     .label-box {
//       display: block;
//       border: 1px dashed #ccc;
//       position: relative;
//       background: #f5f5f5;
//       width: 100%;
//       height: 162px;
//       cursor: pointer;
//       &__text-visible {
//         position: absolute;
//         top: 50%;
//         left: 16px;
//         right: 16px;
//         text-align: center;
//         font-size: 14px;
//         line-height: 1.5;
//         font-weight: bold;
//         -webkit-transform: translate(0, -50%);
//         transform: translate(0, -50%);
//         pointer-events: none;
//         white-space: pre-wrap;
//         word-wrap: break-word;
//       }
//     }
//   }
//   .hidden-content {
//     .hidden-field {
//       display: none;
//     }
//     .hidden-checkbox {
//       display: none;
//     }
//   }
// }