$main_color_font:rgba(0,0,0,0.87);
$title_font: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$text-font:'Times New Roman', 'Noto Serif JP', serif;
$layout-width-inner: 1260px;
$main-background: #EDEDEA;

// @mixin
@mixin flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

// ブレークポイント
$breakpoints: (
  "sp": "screen and (max-width: 767px)",
  "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
  "pc": "screen and (min-width: #{$layout-width-inner})",
);

// メディアクエリー
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

//@include mq('tab') {}
//@include mq('sp') {}

/* add
----------------------------- */
* {
  box-sizing: border-box;
}
img {
  width: 100%;
  vertical-align: bottom;
}
body {
  font-family: $text-font;
  background-color: $main-background;
  font-size: 16px;
  color: $main_color_font;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
a:hover {
  opacity: .8;
  transition-duration: .5s;
}

/* render
----------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 20px;
  background-color: $main-background;
  border-bottom: 1px solid #ddd;
  @include mq('sp') {
    padding: 10px;
  }
  .header-area {
    @include flex();
    align-items: center;
    justify-content: space-between;
    max-width: $layout-width-inner;
    margin: 0 auto;
    @include mq('sp') {
      display: block;
    }
    .logo {
      h1 {
        width: 50px;
        @include mq('sp') {
          width: 30px;
        }
      }
    }
    .hamburger {
      display: none;
      @include mq('sp') {
        display : block;
        position: fixed;
        z-index : 999;
        top   : 5px;
        right : 13px;
        width : 42px;
        height: 42px;
        text-align: center;
        cursor: pointer;
      }
      span {
        @include mq('sp') {
          display : block;
          position: absolute;
          width   : 30px;
          height  : 2px ;
          left    : 6px;
          background : #555;
          -webkit-transition: 0.3s ease-in-out;
          -moz-transition   : 0.3s ease-in-out;
          transition        : 0.3s ease-in-out;
          &:nth-child(1) {
            top: 10px;
          }
          &:nth-child(2) {
            top: 20px;
          }
          &:nth-child(3) {
            top: 30px;
          }
        }
      }
    }
    .hamburger.active {
      span {
        @include mq('sp') {
          &:nth-child(1) {
            top : 16px;
            left: 6px;
            -webkit-transform: rotate(-45deg);
            -moz-transform   : rotate(-45deg);
            transform        : rotate(-45deg);
          }
          &:nth-child(2), &:nth-child(3) {
            top: 16px;
            -webkit-transform: rotate(45deg);
            -moz-transform   : rotate(45deg);
            transform        : rotate(45deg);
          }
        }
      }
    }
    .global-nav.active {
      @include mq('sp') {
        transform: translateX(0%);
      }
    }
    .global-nav {
      @include mq('sp') {
        position: fixed;
        z-index : 2;
        top  : 50px;
        left : 0;
        width: 100%;
        background: #fff;
        text-align: center;
        transform: translateX(100%);
        transition: all 0.6s;
      }
      ul {
        @include flex();
        justify-content: space-between;
        @include mq('sp') {
          display: block;
          width: 100%;
          margin: 0 auto;
          padding: 0;
          background: #ccc;
        }
        li {
          @include mq('sp') {
            width: 100%;
            padding: 0;
            border-bottom: 1px solid #fff;
            &:last-child {
              border-bottom: none;
            }
            &:hover{
              background :#ddd;
            }
          }
          a {
            display: block;
            position: relative;
            padding: 20px 20px 10px 20px;
            color: $main_color_font;
            transition: all .5s;
            @include mq('sp') {
              padding: 25px 30px;
            }
            &:before {
              transition: all .5s;
            }
            &:after {
              position: absolute;
              content: '.';
              bottom: 0;
              left: 0;
              right: 0;
              width: 0%;
              height: 1px;
              margin: auto;
              color: transparent;
              background: $main_color_font;
              transition: all .5s;
            }
            &:hover {
              &:after {
                width: 100%;
              }
            }
          }
        }
        .search {
          margin-left: 20px;
          @include flex();
          align-items: center;
          @include mq('sp') {
            margin-left: 0;
            padding: 25px 30px;
          }
          .search-form {
            @include mq('sp') {
              margin: 0 auto;
            }
            .search-input {
              width: 220px;
              padding: 10px 15px;
              border: 2px solid #ddd;
              border-radius: 4px;
              @include mq('sp') {
                width: 215px;
              }
            }
            .search-btn {
              padding: 7px 12px;
              background: #575a5f;
              border: 2px solid #ddd;
              border-radius: 4px;
              color: #fff;
              cursor: pointer;
              &:hover {
                opacity: .8;
                transition-duration: .5s;
              }
            }
          }
        }
      }
    }
  }
}

.footer {
  width: 100%;
  padding: 40px 0;
  .footer-area {
    max-width: 1260px;
    margin: 0 auto;
    .copyright {
      font-size: 13px;
      text-align: center;
    }
  }
}

/* top
----------------------------- */

.main {
  width: 100%;
  margin-top: 90px;
  @include mq('sp') {
    margin-top: 50px;
  }
  .main-visual {
    position: fixed;
    z-index: -1;
    img {
      height: 650px;
      object-fit: cover;
      @include mq('sp') {
        height: 350px;
      }
    }
  }
  .main-wrap {
    width: 100%;
    position: absolute;
    top: 490px;
    background-color: $main-background;
    @include mq('sp') {
      top: 300px;
    }
  }
  .main-area {
    max-width: 940px;
    margin: 0 auto;
    padding: 60px 0 70px;
    @include mq('sp') {
      padding: 40px 20px;
    }
  }
  section {
    .head02 {
      position: relative;
      font-family: $title_font;
      font-size: 26px;
      text-align: center;
      @include mq('sp') {
        font-size: 20px;
      }
      &:after {
        position: absolute;
        content: "";
        bottom: -15px;
        left: 35%;
        width: 280px;
        height: 1px;
        background: #333;
        @include mq('sp') {
          left: 18%;
          width: 220px;
        }
      }
    }
    .cafe-column {
      margin-top: 25px;
      @include flex();
      flex-wrap: wrap;
      @include mq('sp') {
        display: block;
      }
      .cafe-col {
        position: relative;
        width: calc((100% - 90px) / 3);
        margin-top: 45px;
        margin-left: 45px;
        @include mq('sp') {
          width: 100%;
          margin-top: 35px;
          margin-left: auto;
        }
        &:nth-child(3n+1) {
          margin-left: 0;
          @include mq('sp') {
            margin-left: auto;
          }
        }
        a {
          display: block;
          figure {
            width: 285px;
            height: 176px;
            @include mq('sp') {
              width: 100%;
              height: 213px;
            }
            img {
              height: 100%;
              object-fit: cover;
            }
          }
          .cafe-detail {
            padding: 20px 10px;
            background: #fff;
            color: $main_color_font;
            .cafe-name {
              @include flex();
              .cafe-evaluation {
                @include flex();
                margin-left: 15px;
                img {
                  width: 14px;
                  height: 14px;
                }
              }
            }
            .cafe-station {
              margin-top: 15px;
              font-size: 13px;
              .cafe-move {
                margin-left: 13px;
              }
            }
          }
        }
        .like {
          position: absolute;
          content: "";
          bottom: 40px;
          right: 0;
          a {
            padding: 7px;
          }
          .not-like {
            color: #d3d3d3;
          }
          .liked {
            color: #ff4959;
          }
          .count {
            font-size: 14px;
            color: $main_color_font;
          }
        }
      }
    }
    .more {
      @include flex();
      justify-content: center;
      width: 90px;
      margin: 50px auto 0;
      @include mq('sp') {
        width: 70px;
      }
      &:hover {
        .dot {
          width: 42px;
          height: 42px;
          border: 1px solid #575a5f;
          color: #575a5f;
          background: #fff;
          -webkit-transform: translate3d(-4px, -4px, 0);
          transform: translate3d(-4px, -4px, 0);
          transition-duration: .5s;
        }
      }
      .point {
        @include flex();
        justify-content: center;
        position: relative;
      }
      .dot {
        @include flex();
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 29%;
        bottom: 0;
        width: 34px;
        height: 34px;
        margin: 0 auto;
        border-radius: 50%;
        color: #fff;
        background: #575a5f;
        transition: all 0.3s ease;
        will-change: transform;
        @include mq('sp') {
          width: 28px;
          height: 28px;
        }
      }
      .text {
        margin-top: 50px;
        color: $main_color_font;
        font-weight: bold;
        @include mq('sp') {
          margin-top: 40px;
          font-size: 14px;
        }
      }
    }
  }
}

/* new
----------------------------- */

.post-area {
  max-width: 650px;
  margin: 0 auto;
  padding: 30px 0 70px;
  @include mq('sp') {
    padding: 30px 20px;
  }
  section {
    padding: 30px 100px;
    background: #fff;
    @include mq('sp') {
      padding: 30px 20px;
    }
    .head02 {
      &:after {
        left: 20%;
      }
    }
    .form {
      margin-top: 80px;
      .field {
        width: 100%;
        margin-top: 30px;
        .name,.station,.transportation {
          input {
            width: 100%;
            padding: 15px;
            border: 2px solid #eee;
            border-radius: 4px;
          }
        }
        .title {
          margin-bottom: 15px;
          .required {
            margin-left: 10px;
            padding: 5px 8px;
            font-size: 11px;
            color: #fff;
            background: #ff6a14;
            border-radius: 4px;
          }
        }
        .error {
          margin-top: 10px;
          font-size: 14px;
          color: red;
        }
        .name {
          @include flex();
          input {
            &:nth-child(2) {
              margin-left: 20px;
            }
          }
        }
        textarea {
          width: 100%;
          height: 120px;
          padding: 15px;
          border: 2px solid #eee;
          line-height: 1.8;
          @include mq('sp') {
            height: 100px;
          }
        }
        select {
          width: 100%;
          padding: 15px;
          border: 2px solid #eee;
          background: #fff;
        }
        #star {
          img {
            width: 26px;
          }
        }
        .transportation {
          @include flex();
          align-items: center;
          select {
            width:  40%;
            @include mq('sp') {
              width: 36%;
            }
          }
          input {
            width: 40%;
            @include mq('sp') {
              width: 36%;
              margin-left: 5px;
            }
          }
          span {
            margin-left: 5px;
            font-size: 14px;
          }
          .means {
            width: 5%;
          }
          .about {
            width: 15%;
            @include mq('sp') {
              width: 23%;
            }
          }
        }
      }
      .actions {
        width: 100%;
        margin-top: 50px;
        input {
          width: 100%;
          padding: 15px;
          color: #fff;
          border: 2px solid #575a5f;
          border-radius: 4px;
          background: #575a5f;
          cursor: pointer;
          &:hover {
            opacity: .8;
            transition-duration: .5s;
          }
        }
      }
    }
  }
  .shop-error {
    margin-top: 10px;
    font-size: 14px;
    color: red;
  }
}

/* show
----------------------------- */

.list-area {
  max-width: 840px;
  margin: 0 auto;
  padding: 40px 0 70px;
  @include mq('sp') {
    padding: 40px 20px;
  }
  section {
    .head02 {
      &:after {
        left: 34.5%;
        @include mq('sp') {
          left: 21%;
        }
      }
    }
  }
}
.cafe-list {
  @include flex();
  margin-top: 70px;
  @include mq('sp') {
    display: block;
  }
  figure {
    width: 400px;
    height: 247px;
    @include mq('sp') {
      width: 100%;
    }
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  .cafe-individual {
    width: 440px;
    padding: 0 30px 20px;
    @include mq('sp') {
      width: 100%;
      padding: 20px 10px;
      background: #fff;
    }
    .cafe-name {
      @include flex();
      .cafe-evaluation {
        @include flex();
        margin-left: 15px;
        img {
          width: 14px;
          height: 14px;
        }
      }
    }
    .cafe-station {
      margin-top: 15px;
      @include mq('sp') {
        font-size: 14px;
      }
    }
    .cafe-move {
      margin-left: 13px;
    }
    .description {
      margin-top: 25px;
      line-height: 1.8;
      @include mq('sp') {
        font-size: 14px;
      }
    }
    .post-name {
      margin-top: 30px;
      @include mq('sp') {
        margin-top: 20px;
        font-size: 14px;
      }
      .name {
        margin-left: 7px;
      }
    }
  }
}
.comment-submit {
  margin-top: 40px;
  @include mq('sp') {
    margin-top: 25px;
  }
  .must {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
  }
  textarea {
    width: 100%;
    height: 80px;
    padding: 15px;
    border: 2px solid #ddd;
    line-height: 1.8;
  }
  input {
    @include flex();
    margin: 0 0 0 auto;
    padding: 8px 12px;
    border: 2px solid #ddd;
    border-radius: 4px;
    background: #fff;
    color: $main_color_font;
    cursor: pointer;
  }
}
.comment-show {
  @include mq('sp') {
    margin-top: 20px;
  }
  .title {
    font-size: 24px;
    @include mq('sp') {
      font-size: 18px;
    }
  }
  .comment-box {
    width: 600px;
    padding: 20px 0 5px 10px;
    border-bottom: 1px dotted rgb(94, 94, 94);
    @include mq('sp') {
      width: 100%;
    }
    .username {
      font-weight: bold;
      @include mq('sp') {
        font-size: 14px;
      }
    }
    .text {
      margin-top: 10px;
      line-height: 1.3;
      @include mq('sp') {
        font-size: 14px;
      }
    }
  }
}

/* list
----------------------------- */

.pagination {
  @include flex();
  justify-content: center;
  margin-top: 50px;
  span {
    margin-left: 3px;
    background: #ededed;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    &:first-child {
      margin-left: 0;
    }
    a {
      display: block;
      padding: 10px 14px 10px 14px;
      color: $main_color_font;
      &:hover {
        background: #dcdcdc;
        transition-duration: .6s;
      }
    }
  }
  .current {
    padding: 10px 14px 10px 14px;
    color: #fff;
    background: #575a5f;
  }
}

/* edit
----------------------------- */

.btn {
  @include flex();
  margin-top: 30px;
  a {
    display: block;
    padding: 8px 12px;
    border: 2px solid #ddd;
    border-radius: 4px;
    background: #fff;
    font-size: 13px;
    color: $main_color_font;
  }
  .destroy-btn {
    margin-left: 10px;
  }
}

/* create,update
----------------------------- */

.create, .update, .destroy {
  padding: 30px;
  text-align: center;
  p {
    margin-top: 25px;
    @include mq('sp') {
      margin-top: 15px;
    }
    a {
      display: block;
      width: 180px;
      margin: 0 auto;
      padding: 12px 15px;
      border: 2px solid #ddd;
      border-radius: 4px;
      background: #fff;
      font-size: 13px;
      color: $main_color_font;
    }
  }
}