.main {
  .sign-area {
    max-width: 650px;
    margin: 0 auto;
    padding: 30px 0 70px;
    @include mq('sp') {
      padding: 30px 20px;
    }
    section {
      padding: 30px 100px;
      background: #fff;
      @include mq('sp') {
        padding: 30px 20px;
      }
      .head02 {
        &:after {
          left: 20%;
          @include mq('sp') {
            left: 15%;
          }
        }
      }
      .sign-in {
        width: 100%;
        a {
          display: block;
          width: 100px;
          margin: 30px auto;
          padding: 5px;
          font-size: 14px;
          color: #fff;
          border: 2px solid #575a5f;
          border-radius: 4px;
          background: #575a5f;
          text-align: center;
          cursor: pointer;
          &:hover {
            opacity: .8;
            transition-duration: .5s;
          }
        }
      }
      .form {
        margin-top: 80px;
        .field {
          width: 100%;
          margin-top: 30px;
          input {
            width: 100%;
            padding: 15px;
            border: 2px solid #eee;
            border-radius: 4px;
          }
          .title {
            margin-bottom: 15px;
            .required {
              margin-left: 10px;
              padding: 5px 8px;
              font-size: 11px;
              color: #fff;
              background: #ff6a14;
              border-radius: 4px;
            }
          }
          .error {
            margin-top: 10px;
            font-size: 14px;
            color: red;
            @include mq('sp') {
              font-size: 12px;
            }
          }
          .name {
            @include flex();
            input {
              &:nth-child(2) {
                margin-left: 20px;
              }
            }
          }
        }
        .actions {
          width: 100%;
          margin-top: 50px;
          input {
            width: 100%;
            padding: 15px;
            color: #fff;
            border: 2px solid #575a5f;
            border-radius: 4px;
            background: #575a5f;
            cursor: pointer;
            &:hover {
              opacity: .8;
              transition-duration: .5s;
            }
          }
        }
      }
    }
  }
  .alert {
    padding: 20px;
    font-size: 17px;
    font-weight: bold;
    background: #d3d3d3;
    text-align: center;
  }
  .mypage-area {
    max-width: 940px;
    margin: 0 auto;
    padding: 60px 0 70px;
    @include mq('sp') {
      padding: 40px 20px;
    }
    section {
      .head02 {
        &:after {
          left: 35%;
          @include mq('sp') {
            left: 17%;
          }
        }
      }
      .follow-form {
        margin-top: -12px;
        @include mq('sp') {
          margin-top: 30px;
        }
        .move {
          display: block;
          padding: 7px;
          border: 2px solid #ddd;
          background: #fff;
          color: $main_color_font;
          cursor: pointer;
        }
        .remove {
          display: block;
          padding: 7px;
          border: 2px solid #ddd;
          background: #575a5f;
          color: #fff;
          cursor: pointer;
        }
      }
      .my-column {
        margin-top: 70px;
        .menu {
          @include flex();
          width: 100%;
          list-style: none;
          li {
            width: 25%;
            text-align: center;
            border-left: 1px solid #fff;
            &:first-child {
              border-left: none;
            }
            a{
              display: block;
              padding: 20px 15px;
              background: #b3b3b3;
              color: #fff;
              @include mq('sp') {
                padding: 10px;
                font-size: 14px;
              }
            }
          }
          .like-tab {
            a {
              border-radius: 4px 0 0 4px;
            }
          }
          .edit-tab {
            a {
              border-radius: 0 4px 4px 0;
            }
          }
          .active {
            a {
              background: #575a5f;
            }
          }
        }
        .contents {
          margin-top: 30px;
          list-style: none;
          li {
            display: none;
          }
          .show {
            display: block;
          }
          .edit {
            padding-top: 25px;
            text-align: center;
            @include mq('sp') {
              padding-top: 0;
            }
            a {
              display: block;
              width: 180px;
              margin: 0 auto;
              padding: 12px 15px;
              border: 2px solid #ddd;
              border-radius: 4px;
              background: #fff;
              font-size: 13px;
              color: $main_color_font;
            }
          }
          .my-like {
            @include flex();
            flex-wrap: wrap;
            @include mq('sp') {
              display: block;
            }
            .my-like-col {
              position: relative;
              width: calc((100% - 60px) / 4);
              margin-top: 25px;
              margin-left: 20px;
              @include mq('sp') {
                width: 100%;
                margin-left: auto;
              }
              &:nth-child(4n+1) {
                margin-left: 0;
              }
              a {
                display: block;
                figure {
                  width: 220px;
                  height: 136px;
                  @include mq('sp') {
                    width: 100%;
                    height: 213px;
                  }
                  img {
                    height: 100%;
                    object-fit: cover;
                  }
                }
                .like-detail {
                  height: 100px;
                  padding: 20px 10px;
                  background: #fff;
                  color: $main_color_font;
                  @include mq('sp') {
                    height: 100%;
                  }
                  .like-name {
                    @include flex();
                    .name {
                      font-size: 16px;
                    }
                    .like-evaluation {
                      @include flex();
                      margin-left: 15px;
                      img {
                        width: 14px;
                        height: 14px;
                      }
                    }
                  }
                  .like-station {
                    margin-top: 15px;
                    font-size: 13px;
                    .like-move {
                      margin-left: 13px;
                    }
                  }
                }
              }
            }
          }
          .following, .follower {
            .lists {
              padding-top: 25px;
              @include mq('sp') {
                padding-top: 0;
              }
              .list {
                position: relative;
                border: 2px solid #ddd;
                background: #fff;
                &:before {
                  position: absolute;
                  content: "";
                  width: 4px;
                  height: 4px;
                  background: #333;
                  top: 48%;
                  left: 11px;
                }
                &:nth-child(n+2) {
                  margin-top: 1px;
                }
                a {
                  display: block;
                  padding: 15px 15px 15px 25px;
                  color: $main_color_font;
                }
              }
            }
          }
        }
      }
      .my-column.user {
        @include mq('sp') {
          margin-top: 30px;
        }
      }
    }
  }
}