%footer.footer
  .footer-area
    %ul.footer-nav
      %li
        = link_to "ブログ", "https://inamublog.com/", target: :_blank
      %li
        = link_to "お問い合わせ", "https://inamublog.com/contact/", target: :_blank
    %p.copyright
      Copyright &copy; 2020 coffee-marks by いなむブログ All Rights Reserved.